/*
* @Author: Administrator
* @Date:   2017-08-21 01:02:59
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-24 16:02:44
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑"，“宋体”，sans-serif;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body{
	background: #ffffff;
}